@import url(https://fonts.googleapis.com/css?family=Inter);

h1 {
    font-weight: bold;
}

body {
    font-family: 'Inter';
    font-weight: 200;
}
nav {
    background-color: lightgrey;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 500px;
    padding-right: 500px;
}